<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <div class="bg-dark">
        <header class="container pt-4 pb-4">it
            <%- include('../partials/header'); %>
        </header>

        <section class="container py-5 text-light" style="display: flex; justify-content: center;flex-direction: column;
         align-items: center;">
            <h1 class="pt-3">Sign up</h1>
            <h5 class="pt-4 pb-4 w-50 text-center"></h5>
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1" d="M0,0L480,128L960,32L1440,256L1440,320L960,320L480,320L0,320Z">
            </path>
        </svg>
    </div>

    <main class="container pb-5 mb-5">
        <div class=" m-auto">

            <h1>Sign up</h1>
            <br />

            <form class="form m-0 p-0 w-100" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                        placeholder="Full name">
                    <small id="helpId" class="form-text text-muted">Enter full name</small>
                </div>
                <div class="form-group mt-2">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="email"
                        placeholder="Email">
                    <small id="helpId" class="form-text text-muted">Enter a valid email address</small>
                </div>

                <div class="form-group mt-2">
                    <label for="insuranceType">Number of reports</label>
                    <select class="form-control" name="insuranceType" id="insuranceType">
                        <option value="select">Select number of reports</option>
                        <option value="one">One</option>
                        <option value="two">Two</option>
                        <option value="five">Five</option>
                    </select>
                    <small id="helpId" class="form-text text-muted">Select the number of reports you want to
                        generate</small>

                </div>
                <div class="form-group mt-2">
                    <label for="insurancePrice">Insurance Price</label>
                    <select class="form-control" disabled name="insurancePrice" id="insurancePrice">
                        <option value="select">Select insurance price</option>
                        <option value="25.95">25.95$</option>
                        <option value="38.95">38.95$</option>
                        <option value="64.95">64.95$</option>
                    </select>
                    <small id="helpId" class="form-text text-muted">You can see the comparision on the reports
                        page.</small>

                </div>

                <div class="form-group mt-2">
                    <label for="vin-number">Vehicle Identification Number</label>
                    <input type="text" min="10" class="form-control" name="vinNumber" id="vinNumber"
                        aria-describedby="vinNumber" placeholder="VI number">
                    <small id="vinNumbersInput" class="form-text text-muted">Enter a valid VI number</small>
                </div>

                <button type="submit" class="btn btn-dark mt-3 w-100">SignUp</button>

            </form>
        </div>

    </main>



    <footer>
        <%- include('../partials/footer'); %>
            <script>


                localStorage.removeItem("user");
                localStorage.removeItem("payment");
                localStorage.removeItem("report-0");
                localStorage.removeItem("report-1");
                localStorage.removeItem("report-2");
                localStorage.removeItem("report-3");
                localStorage.removeItem("report-4");
                localStorage.removeItem("history-0");
                localStorage.removeItem("history-1");
                localStorage.removeItem("history-2");
                localStorage.removeItem("history-3");
                localStorage.removeItem("history-4");
                localStorage.removeItem("report-loaded");
                localStorage.removeItem("number-of-reports");

                const form = document.querySelector('.form');
                const name = document.querySelector('#name');
                const email = document.querySelector('#email');
                const vinNumber = document.querySelector('#vinNumber');
                const insuranceType = document.querySelector('#insuranceType');
                const insurancePrice = document.querySelector('#insurancePrice');

                const vinNumbersInputMSG = document.querySelector('#vinNumbersInput');

                let selectedReports = "";

                insuranceType.addEventListener("change", function () {
                    if (insuranceType.value === "one") {
                        insurancePrice.value = "25.95"
                        vinNumbersInputMSG.innerHTML = "Please enter 1 valid VI number. (No symbols must be used)";
                        selectedReports = "one";

                    }
                    else if (insuranceType.value === "two") {
                        insurancePrice.value = "38.95"
                        vinNumbersInputMSG.innerHTML = "Please enter 2 valid VI numbers. (Comma seperated)";
                        selectedReports = "two";

                    }
                    else if (insuranceType.value === "five") {
                        insurancePrice.value = "64.95"
                        vinNumbersInputMSG.innerHTML = "Please enter 5 valid VI numbers. (Comma seperated)";
                        selectedReports = "five";

                    }
                })

                insurancePrice.addEventListener("change", function () {

                    if (insurancePrice.value === "25.95") {
                        vinNumbersInputMSG.innerHTML = "Please enter 1 valid VI number. (No symbols must be used)";
                    }
                    else if (insurancePrice.value === "38.95") {
                        vinNumbersInputMSG.innerHTML = "Please enter 2 valid VI numbers. (Comma seperated)";
                    }
                    else if (insurancePrice.value === "64.95") {
                        vinNumbersInputMSG.innerHTML = "Please enter 5 valid VI numbers. (Comma seperated)";

                    }
                    else {
                        vinNumbersInputMSG.innerHTML = "Enter a valid VI number";
                    }
                })



                const checkInputs = function () {
                    validation = false;

                    if (name.value === "") {
                        name.style.border = "1px solid red";
                        validation = true;
                    }
                    else {
                        name.style.border = "1px solid #ced4da";
                    }
                    if (email.value === "") {
                        email.style.border = "1px solid red";
                        validation = true;
                    }
                    else {
                        email.style.border = "1px solid #ced4da";
                    }
                    if (vinNumber.value === "") {
                        vinNumber.style.border = "1px solid red";
                        validation = true;
                    }
                    else {
                        vinNumber.style.border = "1px solid #ced4da";
                    }
                    if (insuranceType.value === "select") {
                        insuranceType.style.border = "1px solid red";
                        validation = true;
                    }
                    else {
                        insuranceType.style.border = "1px solid #ced4da";
                    }
                    if (insurancePrice.value === "select") {
                        insurancePrice.style.border = "1px solid red";
                        validation = true;
                    }
                    else {
                        insurancePrice.style.border = "1px solid #ced4da";
                    }

                    if (insurancePrice.value === "25.95" && vinNumber.value.length === 0) {
                        vinNumber.style.border = "1px solid red";
                        validation = true;
                    }
                    else if (insurancePrice.value === "38.95" && vinNumber.value.length !== 0 && vinNumber.value.split(",").length !== 2) {
                        vinNumber.style.border = "1px solid red";
                        validation = true;
                    }
                    else if (insurancePrice.value === "64.95" && vinNumber.value.length !== 0 && vinNumber.value.split(",").length !== 5) {
                        vinNumber.style.border = "1px solid red";
                        validation = true;
                    }
                    else {
                        vinNumber.style.border = "1px solid #ced4da";
                    }

                    return validation;
                }

                const showAlert = function (msg) {
                    const alert = document.createElement('div');
                    alert.className = "alert alert-danger";
                    alert.textContent = msg;
                    form.prepend(alert);
                    setTimeout(() => {
                        alert.remove();
                    }, 3000);
                }


                form.addEventListener("submit", async function (e) {
                    e.preventDefault();
                    if (checkInputs()) {
                        showAlert("Please fill in all fields");
                    }
                    else {
                        const vinNumbers = vinNumber.value.split(",")
                        console.log(vinNumbers);

                        check = true;

                        for (let i = 0; i < vinNumbers.length; i++) {

                            const data = {
                                name: name.value,
                                email: email.value,
                                vinNumber: vinNumbers[i],
                                insuranceType: insuranceType.value,
                                insurancePrice: insurancePrice.value
                            }

                            localStorage.setItem("user", JSON.stringify({
                                name: name.value,
                                email: email.value,
                                number_of_reports: vinNumbers.length,
                                insurance_price: insurancePrice.value,
                                vin_numbers: vinNumbers
                            }))

                            localStorage.setItem("price", insurancePrice.value);

                            const response = await fetch("/fetch-report", {
                                method: "POST",

                                body: JSON.stringify(data),
                                headers: {
                                    "Content-type": "application/json; charset=UTF-8"
                                }
                            }).then((res) => res.json());



                            if (response?.msg === "Invalid VIN Number") {
                                showAlert("Invalid VIN Number")
                                check = false;
                                localStorage.setItem("report-loaded", false);

                            }
                            else {

                                const _response = {
                                    ...response,
                                    ...data,
                                }
                                localStorage.setItem(`report-${i}`, JSON.stringify(_response));
                                localStorage.setItem("report-loaded", true);
                                localStorage.setItem("number-of-reports", vinNumbers.length);
                            }


                            // form.submit();

                        }
                        if (check) {
                            window.location.href = "/report";
                        }

                    }

                })
            </script>
    </footer>

</body>

</html>