<div class="footer bg-dark">
    <svg xmlns=" http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fff" fill-opacity="1" d="M0,0L480,128L960,32L1440,256L1440,0L960,0L480,0L0,0Z"></path>
    </svg>
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="shadow text-light pb-4 bg-dark"
        style="margin-top: -80px; display: flex;justify-content:center; align-items:center; flex-direction: column;">
        <h1 class="styled-font">AutoVinInspection</h1>
        <p class="w-50 text-center pt-3 pb-5">Best in providing complete details about your vehicle.</p>
    </div>
    <div class="text-center text-muted p-4">&copy; Copyright 2022 AutoVinInspection</div>
</div>