<div class="footer bg-dark">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fff" fill-opacity="1" d="M0,0L480,128L960,32L1440,256L1440,0L960,0L480,0L0,0Z"></path>
    </svg>
    <div class="shadow text-light pb-4"
        style="margin-top: -80px; display: flex;justify-content:center; align-items:center; flex-direction: column;">
        <h1 class="styled-font">AutoVinInspection</h1>
        <p class="w-50 text-center pt-3 pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, error
            dolorem.
            Qui
            autem cupiditate sed ipsum
            labore id eligendi aspernatur doloremque quis optio. Natus quam officia excepturi asperiores neque
            doloremque?</p>
    </div>
    <div class="text-center text-muted p-4">&copy; Copyright 2020 The Awesome People</div>
</div>