<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <div class="bg-dark">
        <header class="container pt-4 pb-4">
            <%- include('../partials/header'); %>
        </header>

        <section class="container py-5 text-light" style="display: flex; justify-content: center;flex-direction: column;
         align-items: center;">
            <h1 class="pt-3">Home</h1>
            <h5 class="pt-4 pb-4 w-50 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore hic
                ducimus
                illo laborum praesentium
                pariatur aut laudantium sint, similique, qui possimus officia earum nulla dolorem ullam voluptate sequi
                eveniet distinctio.</h5>
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1" d="M0,0L480,128L960,32L1440,256L1440,320L960,320L480,320L0,320Z">
            </path>
        </svg>
    </div>


    <main class=" pb-5 mb-5">
        <section class="container">
            <h3 class="seperated-font text-uppercase text-center">What we do</h3>
            <p class="w-75 text-center m-auto pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
                soluta
                ducimus sed
                impedit nam eius
                dolores temporibus rem cumque doloremque vel iusto deleniti unde nostrum, totam praesentium veritatis.
                Pariatur, cumque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis consectetur
                aliquam dolores perspiciatis ex perferendis odio quia excepturi ratione libero, veritatis aperiam maxime
                officia optio aspernatur, ea et modi nihil?</p>
        </section>
        <br />
        <br />
        <br />
        <hr class="w-75 m-auto" />
        <br />
        <section class="mt-5 container">
            <h3 class="seperated-font text-uppercase text-center">Our clients</h3>
            <p class="w-75 text-center m-auto pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
                soluta
                ducimus sed
                impedit nam eius
                dolores temporibus rem cumque doloremque vel iusto deleniti unde nostrum, totam praesentium veritatis.
                Pariatur, cumque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis consectetur
                aliquam dolores perspiciatis ex perferendis odio quia excepturi ratione libero, veritatis aperiam maxime
                officia optio aspernatur, ea et modi nihil?</p>
        </section>
        <br />
        <br />
        <section class="bg-dark mt-5">
            <div class="container p-5">

                <div class="row  p-5">
                    <div class="col-12 col-lg-6 text-white">
                        <h3 class="seperated-font text-uppercase text-center">Our services</h3>
                        <p class="w-75 m-auto pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Doloribus
                            soluta
                            ducimus sed
                            impedit nam eius
                            dolores temporibus rem cumque doloremque vel iusto deleniti unde nostrum, totam praesentium
                            veritatis.
                            Pariatur, cumque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
                            consectetur
                            aliquam dolores perspiciatis ex perferendis odio quia excepturi ratione libero, veritatis
                            aperiam
                            maxime officia optio aspernatur, ea et modi nihil?</p>
                    </div>
                    <div class="col-12 col-lg-6">

                        <div class="row">
                            <div class="col-6 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <br />
        <section class="mt-5 container">
            <h3 class="seperated-font text-uppercase text-center">Testimonials</h3>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Dave</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Paul</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Jake</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Sara</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Dennis</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <br />
        <section class="mt-5">
            <div class="container p-5">

                <div class="row  p-5">

                    <div class="col-12 col-lg-6 pt-5">
                        <h1>Fill the form to contact us</h1>
                        <p>
                            <i>Our team will contact you as soon as they can.</i>
                        </p>
                        <br />
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Name:</label>
                                <input type="text" class="form-control" placeholder="Enter your name" />
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label">Email:</label>
                                <input type="email" class="form-control" placeholder="Enter title of insurance" />
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label">Message:</label>
                                <textarea type="text" class="form-control" rows="5"
                                    placeholder="Enter message/issues"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-lg-6 m-0 p-0">
                        <img src="/img/contact.png" width="100%" alt="contact" />
                    </div>
                </div>
            </div>
        </section>

        <br />
        <br />

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>