<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <div class="bg-dark">
        <header class="container pt-4 pb-4">
            <%- include('../partials/header'); %>
        </header>

        <section class="container py-5 text-light" style="display: flex; justify-content: center;flex-direction: column;
         align-items: center;">
            <h1 class="pt-3">Home</h1>
            <h5 class="pt-4 pb-4 w-50 text-center">Try AutoVinInspection today and learn more about a vehicle you plan
                to buy or already own.</h5>
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1" d="M0,0L480,128L960,32L1440,256L1440,320L960,320L480,320L0,320Z">
            </path>
        </svg>
    </div>


    <main class=" pb-5 mb-5">
        <section class="container">
            <h3 class="seperated-font text-uppercase text-center">What Can I Do with <i
                    class="h1"><b>AutoVinInspection</b></i>?</h3>
            <br />
            <div class="row mt-5 text-center">
                <div class="col-12 col-md-4">
                    <img src="/img/buy.svg" />
                    <h4>SELLING A CAR?</h4>
                    <br />
                    <p>
                        Use our data to help show your buyer they are getting value for their money.
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/img/sell.svg" />
                    <h4>BUYING A CAR?</h4>
                    <br />
                    <p>
                        Search the history of a vehicle to help avoid unpleasant hidden surprises.
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <img src="/img/own.svg" />
                    <h4>OWN A CAR?</h4>
                    <br />
                    <p>
                        Monitor the market value of your vehicle and stay up-to-date on records of safety recalls. Get a
                        sense of when may be the right time to sell your car.
                    </p>
                </div>
            </div>
        </section>
        <br />
        <br />
        <br />
        <hr class="w-75 m-auto" />
        <br />
        <section class="mt-5 container">
            <h3 class="seperated-font text-uppercase text-center">Here’s how <i class="h1"><b>AutoVinInspection</b></i>
                can help
                you
                learn more about a vehicle</h3>
            <br />
            <br />
            <br />
            <h4> ACCIDENT, SALVAGE AND THEFT RECORDS</h4>
            <p>
                Our data is provided by state-level agencies and trusted car industry partners to help you discover if a
                vehicle has reported accident, salvage and/or theft records, where available.
            </p>
            <h4> TITLES, LIENS AND SALES RECORDS</h4>
            <p> AutoVinInspection reports may include liens, sales listing history, title registrations and over 50
                title brand
                checks</p>
            to help you make the right decisions when purchasing a vehicle.

            <h4> SUGGESTED MAINTENANCE AND UPCOMING REPAIRS</h4>
            <p> With AutoVinInspection, see the likelihood and estimated costs of repairs needed on your vehicle*.</p>

            <h4> SPECS, RECALLS, WARRANTIES AND INSTALLED OPTIONS</h4>
            <p>AutoVinInspection can help you simplify things when comparing two similar vehicles with our cost data on
                installed
            </p>
            options, 150+ data points of vehicle specs and recalls.

            <h4> MARKET VALUE</h4>
            <p> Get estimated market values for used and new cars based on millions of historical vehicle sales.</p>

        </section>
        <br />
        <br />
        <section class="bg-dark mt-5">
            <div class="container p-5">

                <div class="row  p-5">
                    <div class="col-12 col-lg-6 text-white">
                        <h3 class="seperated-font text-uppercase text-center">Our services</h3>
                        <p class="w-75 m-auto pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Doloribus
                            soluta
                            ducimus sed
                            impedit nam eius
                            dolores temporibus rem cumque doloremque vel iusto deleniti unde nostrum, totam praesentium
                            veritatis.
                            Pariatur, cumque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
                            consectetur
                            aliquam dolores perspiciatis ex perferendis odio quia excepturi ratione libero, veritatis
                            aperiam
                            maxime officia optio aspernatur, ea et modi nihil?</p>
                    </div>
                    <div class="col-12 col-lg-6">

                        <div class="row">
                            <div class="col-6 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <br />
        <section class="mt-5 container">
            <h3 class="seperated-font text-uppercase text-center">Testimonials</h3>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Dave</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Paul</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Jake</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Sara</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mt-3 shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-2"
                                    style="justify-content: center; align-items: center;display:flex;">
                                    <img src="/img/user.png" width="100%" alt="" />
                                </div>
                                <div class="col-12 col-lg-10">
                                    <p>
                                        <b>User Dennis</b>
                                    </p>
                                    <p>Loved the service, got my insurance in 5 minutes</p>
                                    <p>
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                        <img src="/img/star.png" width="25px" alt="rating" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
        <br />
        <!-- <section class="mt-5">
            <div class="container p-5">

                <div class="row  p-5">

                    <div class="col-12 col-lg-6 pt-5">
                        <h1>Fill the form to contact us</h1>
                        <p>
                            <i>Our team will contact you as soon as they can.</i>
                        </p>
                        <br />
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Name:</label>
                                <input type="text" class="form-control" placeholder="Enter your name" />
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label">Email:</label>
                                <input type="email" class="form-control" placeholder="Enter title of insurance" />
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label">Message:</label>
                                <textarea type="text" class="form-control" rows="5"
                                    placeholder="Enter message/issues"></textarea>
                            </div>
                            <div class="mb-3 ">
                                <button class="btn btn-dark">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-lg-6 m-0 p-0">
                        <img src="/img/contact.png" width="100%" alt="contact" />
                    </div>
                </div>
            </div>
        </section> -->

        <br />
        <br />

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>