<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <div class="bg-dark">
        <header class="container pt-4 pb-4">
            <%- include('../partials/header'); %>
        </header>

        <section class="container py-5 text-light" style="display: flex; justify-content: center;flex-direction: column;
         align-items: center;">
            <h1 class="pt-3">Pricing</h1>
            <h5 class="pt-4 pb-4 w-50 text-center">What you'll be getting through the reports</h5>
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1" d="M0,0L480,128L960,32L1440,256L1440,320L960,320L480,320L0,320Z">
            </path>
        </svg>
    </div>


    <main class="container pb-5 mb-5">
        <h1>Pricing</h1>

        <div class="card shadow mt-5">
            <div class="card-body p-5">
                <h4 class="card-title">Standard Package - 25.95 $ <small class="text-secondary h5">/ 1 VINS</small>
                </h4>
                <p class="card-text">
                <ul class="mt-4 text-left">
                    <li>One Vehicle Report</li>
                    <li>Vehicle Specifications</li>
                    <li>Cost & Warranties Information</li>
                    <li>History Information</li>
                    <li>Junk & Salvage Information</li>
                    <li>Current Title Information</li>
                    <li>Brands Information</li>
                    <li>Insurance Information</li>
                </ul>
                </p>
                <a href="/login" class="btn btn-dark w-100 btn-lg">Buy now</a>
            </div>
        </div>
        <div class="card shadow mt-5">
            <div class="card-body p-5">
                <h4 class="card-title">Silver Package - 38.95 $ <small class="text-secondary h5">/ 2 VINS</small>
                </h4>
                <p class="card-text">
                <ul class="mt-4 text-left">
                    <li>Two Vehicle Report</li>
                    <li>Vehicle Specifications</li>
                    <li>Cost & Warranties Information</li>
                    <li>History Information</li>
                    <li>Junk & Salvage Information</li>
                    <li>Current Title Information</li>
                    <li>Brands Information</li>
                    <li>Insurance Information</li>
                </ul>
                </p>
                <a href="/login" class="btn btn-dark w-100 btn-lg">Buy now</a>

            </div>
        </div>
        <div class="card shadow mt-5">
            <div class="card-body p-5">
                <h4 class="card-title">Gold Package - 64.95 $ <small class="text-secondary h5">/ 5 VINS</small>
                </h4>
                <p class="card-text">
                <ul class="mt-4 text-left">
                    <li>Five Vehicle Report</li>
                    <li>Vehicle Specifications</li>
                    <li>Cost & Warranties Information</li>
                    <li>History Information</li>
                    <li>Junk & Salvage Information</li>
                    <li>Current Title Information</li>
                    <li>Brands Information</li>
                    <li>Insurance Information</li>
                </ul>
                </p>
                <a href="/login" class="btn btn-dark w-100 btn-lg">Buy now</a>

            </div>
        </div>

        <div class="card shadow mt-5">
            <div class="card-body p-5">
                <h4 class="card-title">Download sample report
                </h4>
                <br />
                <p class="card-text">
                    <button class="btn btn-dark btn-lg w-100" onclick="downloadReport()">Download Sample Report</button>
                </p>
            </div>
        </div>
    </main>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        function downloadReport() {
            window.open('https://www.dropbox.com/s/0ghdt2pnerqfzjf/Report.pdf?dl=0');
        }
    </script>

</body>

</html>